h1 {
    text-align: center;
    background: gray;
    color: fuchsia;

}

h2 {
    text-align: center;
    color: red;
    font-size: 50px;

}

.wrapper {
    background: lightgray;
    height:600px;
}

.btn {
    height: 40px;
    width: 180px;
    box-align: center;
    margin-left: 300px;
}

#passwordbody{
    height: 200px;
    width: 200px;
    box-align: center;
    left: 300px;
}

